body{
    background-color:blanchedalmond;
    background-image: url(kwiatek.png);
    max-width:800px;
    margin:auto;
}


p

{
color:brown;
font-size:large;
font-family:Georgia, 'Times New Roman', Times, serif


}

div
{
    background-color:aquamarine;
    padding:20px;
}